<div class="row">
  <div class="col-lg-4 portfolio-item">
    <div class="card h-100">
      <a href="#"><blog-poster-image [classValues]="'card-img-top'" [src]="'https://i.udemycdn.com/course/750x422/2338870_2107.jpg'"></blog-poster-image></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">GraphQL along with Angular coursces. JWT, Sockets, MongoDB</a>
        </h4>
        <p class="card-text">GraphQL and Angular along with Apollo Client, JWT, and learn to deploy it in real world with, MongoDB, Heroku, Postman.</p>
        <a href="https://www.udemy.com/user/anartzmugika/" target="_blank" class="btn btn-danger">Finales 2019</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 portfolio-item">
    <div class="card h-100">
      <a href="#"><blog-poster-image [classValues]="'card-img-top'" [src]="'https://i.udemycdn.com/course/750x422/1992318_a8ef_3.jpg'"></blog-poster-image></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">NPM, publications in  JS, TS, Angular</a>
        </h4>
        <p class="card-text">Learn from scratch the notions of NPM and how to create Node libraries in Javascript Typescript Angular with practical examples!</p>
        <a href="https://www.udemy.com/npm-librerias-node-con-js-typescript-angular-y-otras-herramientas/?couponCode=PR_PRECIO_BAJO" target="_blank" class="btn btn-info">Advance to the course</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 portfolio-item">
    <div class="card h-100">
      <a href="#"><blog-poster-image [classValues]="'card-img-top'" [src]="'https://i.udemycdn.com/course/750x422/1777518_b681_6.jpg'"></blog-poster-image></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Project Documentation</a>
        </h4>
        <p class="card-text">Create quality and VERY easy to maintain documentation with Compodoc for Angular 2+ / Ionic 2+ / Typescript projects.</p>
        <a href="https://www.udemy.com/compodoc-crea-documentacion-en-angular-ionic/" target="_blank" class="btn btn-info">Access the course</a>
      </div>
    </div>
  </div>
</div>